@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --font_fam: "Ubuntu", sans-serif;
  --main-colour: #355a9b;
  --logo_colour: #1f3681;
}

body {
  font-family: var(--font_fam);
  color: black;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 768px;
  margin: auto;
  background-color: #f8f8ff;
}

.logo {
  margin: auto;
  width: 90%;
}

header {
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.choices {
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1.5em;
  background-color: var(--main-colour);
  border-radius: 10px;
  width: 95%;
  margin: 5px 0px;
  padding: 10px 0px;
}

.choices:hover {
  color: white;
  background-color: var(--logo_colour);
}

footer {
  background-color: var(--logo_colour);
  max-width: 100%;
  color: white;
  padding-left: 1.2em;
  padding-top: 3px;
  padding-bottom: 10px;
  border-top: solid black;
}

.footerChoices {
  color: white;
  text-decoration: none;
}

.footerChoices:checked {
  color: black;
}

footer ul li {
  padding: 5px;
  color: black;
  display: inline;
}

p {
  font-size: 1.2em;
  word-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: var(--main-colour);
}

.headercenter {
    text-align: center;
    margin: auto;
  }
  
  #imgdaddy {
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
  }
  
  #centerdiv {
    margin: auto;
    text-align: center;
  }

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 1000px;
  }

  body {
    background-image: url(../images/Home_Image.jpg);
    background-repeat: no-repeat;
    background-color: var(--main-colour);
  }

  .logo {
    float: left;
    width: auto;
    margin-right: 400px;
  }

  .choices {
    width: 19%;
  }

  header ul li {
    display: inline;
  }

  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }

  p {
    width: 50%;
  }

    #p1 {
        float: left;
        width: 50%;
        text-align: center;
        margin: auto;
      }
      #p1 p {
        width: 95%;
        margin: auto;
      }
    
      #p2 {
        float: right;
        width: 50%;
        text-align: center;
      }
      #p2 p {
        width: 100%;
        margin: auto;
      }
    
      #p3 {
        margin-top: 200px;
        width: 100%;
      }
      #p3 p {
        width: 100%;
      }
}